
#map {
   position:relative;
   width: 100vh;
   height: 100vh;
   margin-left: auto;
   margin-right: auto;

}

.ShowHide {
  overflow: visible;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFDD20;
  color: #000000;
  padding:.5 em;
  font-size: .8em
}


.leaflet-popup-content-wrapper {
  background-color: #DFDAF0;
  width: auto !important;
}
